<template>
  <div class="w-full h-full flex">
    <div class="px-3 w-screen sm:w-128 max-w-screen">
      <div class="bg-white rounded shadow py-10 lg:py-12 px-6 sm:px-8 md:px-10 lg:px-12">

      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('home') }
  },

  async mounted() {
    try {
      await this.$store.dispatch('auth/fetchUserStudent')
    } catch (err) {
      // console.log(err.response.data)
    }
  },

  computed: mapGetters({
    student: 'auth/student'
  }),
}
</script>
