<template>
  <div class="w-full h-full flex">
    <div class="px-3 w-screen sm:w-128 max-w-screen">
      <div class="bg-white rounded shadow py-10 lg:py-12 px-6 sm:px-8 md:px-10 lg:px-12">
        <h1>List of Payments</h1>
        <t-table
            class="mt-4"
            :headers="headers"
            :data="payments"
        ></t-table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: 'Payments' }
  },

  async mounted() {
    try {
      await this.$store.dispatch('payment/fetchPayments')
    } catch (err) {
      // console.log(err.response.data)
    }
  },

  data: () => ({
    headers: [
      {value: 'code', text: 'Code'},
      {value: 'description', text: 'Description'},
      {value: 'total_amount_money', text: 'Total Amount'},
      {value: 'status_str', text: 'Status'},
      {value: 'completed_at', text: 'Complete At'}
    ]
  }),

  computed: mapGetters({
    payments: 'payment/payments'
  }),
}
</script>
