<template>
  <div class="bg-white w-80 border-r p-8 -my-2">
    <sidebar-item route="dashboard.home">
      Home
    </sidebar-item>
    <sidebar-item route="dashboard.reports">
      Reports
    </sidebar-item>
    <sidebar-item route="dashboard.quotations">
      Quotations
    </sidebar-item>
    <sidebar-item route="dashboard.payments">
      Payments
    </sidebar-item>
  </div>
</template>

<script>
import SidebarItem from './SidebarItem'
export default {
  name: 'Sidebar',
  components: { SidebarItem }
}
</script>

<style scoped>

</style>
