<template>
  <div class="flex w-screen h-screen">
    <div class="m-auto flex flex-col max-w-screen">
      <div class="p-8 mx-auto text-center">
        <h1 class="text-4xl font-bold text-gray-800 mb-1 tracking-tight">
          Konfirmasi Pembayaran Berhasil
        </h1>
        <h2 class="text-lg text-gray-800 font-medium">
          Terima kasih atas konfirmasi pembayarannya.
        </h2>
      </div>
      <div class="px-3 sm:w-128 max-w-screen">
        <div class="bg-white rounded shadow py-10 lg:py-12 px-6 sm:px-8 md:px-10 lg:px-12">
          <p class="mb-5">Mohon ditunggu untuk proses verifikasinya, silahkan cek email anda <br>secara berkala untuk info selanjutnya</p>
          <router-link to="/">
            <t-button class="w-full">
              Kembali Ke Beranda
            </t-button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  middleware: 'guest',
  layout: 'basic',
  name: 'complete',

  metaInfo () {
    return { title: 'Konfirmasi Pembayaran Berhasil' }
  },
}
</script>