<template>
  <div class="flex w-screen h-screen">
    <div class="m-auto flex flex-col max-w-screen">
      <div class="p-8 mx-auto text-center">
        <h1 class="text-4xl font-bold text-gray-800 mb-1 tracking-tight">
          Konfirmasi Pembayaran
        </h1>
      </div>
      <div class="px-3 sm:w-128 max-w-screen">
        <div class="bg-white rounded shadow py-10 lg:py-12 px-6 sm:px-8 md:px-10 lg:px-12">
          <form @submit.prevent="submit" @keydown="form.onKeydown($event)" enctype="multipart/form-data">
            <div class="mb-4">
              <label class="font-bold text-gray-700 select-none" for="name">Kode Transfer</label>
              <t-input id="code" v-model="form.code" :class="{ 'invalid': form.errors.has('code') }"
                      class="mt-2" name="code"
              />
              <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="code" />
            </div>
            <div class="mb-4">
              <label class="font-bold text-gray-700 select-none" for="name">Jumlah</label>
              <t-input id="amount" v-model="form.amount" :class="{ 'invalid': form.errors.has('amount') }"
                      class="mt-2" name="amount"
              />
              <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="amount" />
            </div>
            <div class="mb-4">
              <label class="font-bold text-gray-700 select-none" for="name">Nama Pengirim</label>
              <t-input id="sender_name" v-model="form.sender_name" :class="{ 'invalid': form.errors.has('sender_name') }"
                      class="mt-2" name="sender_name"
              />
              <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="sender_name" />
            </div>
            <div class="mb-4">
              <label class="font-bold text-gray-700 select-none" for="name">No Rekening Pengirim</label>
              <t-input id="sender_bank_account" v-model="form.sender_bank_account" :class="{ 'invalid': form.errors.has('sender_bank_account') }"
                      class="mt-2" name="sender_bank_account"
              />
              <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="sender_bank_account" />
            </div>
            <div class="mb-6">
              <label class="font-bold text-gray-700 select-none" for="transfer_at">Tanggal Transfer</label>
              <t-datepicker id="transfer_at" v-model="form.transfer_at" :class="{ 'invalid': form.errors.has('transfer_at') }"
                      class="mt-2" name="transfer_at"
                      user-format="Y-m-d"
              />
              <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="transfer_at" />
            </div>
            <div class="mb-6">
              <label class="font-bold text-gray-700 select-none" for="proof_of_payment">Bukti Transfer</label>
              <input type="file" id="proof_of_payment" @change="selectFile" class="mt-2 block w-full px-3 py-2 transition duration-100 ease-in-out border rounded shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none focus:ring-opacity-50 disabled:opacity-50 disabled:cursor-not-allowed text-black placeholder-gray-400 bg-white border-gray-300 focus:border-blue-500" :class="{ 'invalid': form.errors.has('proof_of_payment') }" name="proof_of_payment" />
              <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="proof_of_payment" />
            </div>
            
            <div>
              <t-button class="w-full" :loading="form.busy">
                Kirim
              </t-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import Form from 'vform'

export default {
  middleware: 'guest',
  layout: 'basic',
  name: 'confirmation',

  metaInfo () {
    return { title: 'Konfirmasi Pembayaran' }
  },

  data: () => ({
    form: new Form({
      code: '',
      amount: '',
      sender_name: '',
      sender_bank_account: '',
      transfer_at: '',
      proof_of_payment: null,
      busy: false
    })
  }),

  methods: {
    async submit(event) {
      try {
        const data = new FormData();
        data.append('code', this.form.code);
        data.append('amount', this.form.amount);
        data.append('sender_name', this.form.sender_name);
        data.append('sender_bank_account', this.form.sender_bank_account);
        data.append('transfer_at', this.form.transfer_at);
        data.append('proof_of_payment', this.form.proof_of_payment);

        await this.savePaymentConfirmation(data)

        this.$router.push({ name: 'payment.success' })
      } catch (e) {
        if (e.response.status !== 422) {
          this.$swal({
            icon: 'error',
            title: 'Oops...',
            text: e.response.data.message
          });
        }
      }
    },

    selectFile(event) {
      this.form.proof_of_payment = event.target.files[0];
    },

    ...mapActions('payment', [
      'savePaymentConfirmation'
    ]),
  }
}
</script>