<template>
  <div class="flex w-screen h-screen">
    <div class="m-auto flex flex-col max-w-screen">
      <div class="p-8 mx-auto text-center">
        <h1 class="text-4xl font-bold text-gray-800 mb-1 tracking-tight">
          Pendaftaran Berhasil
        </h1>
        <h2 class="text-lg text-gray-800 font-medium">
          Terima kasih telah memilih Alexandria School
        </h2>
      </div>
      <div class="px-3 sm:w-128 max-w-screen">
        <div class="bg-white rounded shadow py-10 lg:py-12 px-6 sm:px-8 md:px-10 lg:px-12">
          <p class="mb-2">Tahap selanjutnya mohon lakukan pembayaran biaya pendaftaran</p>
          <p class="mb-2">Kode Unik: {{ data.data.code }}</p>
          <p class="mb-2">Keterangan: {{ data.data.description }}</p>
          <p class="mb-2">Total Pembayaran: {{ data.data.total_amount | currency }}</p>
          <p class="mb-5">Rekening Tujuan: {{ data.data.paymentMethod.data.bank }} - {{ data.data.paymentMethod.data.account_no }} a/n Alexandria School</p>
          
          <router-link to="/payment-confirmation">
            <t-button class="w-full">
              Konfirmasi Pembayaran
            </t-button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'guest',
  layout: 'basic',

  metaInfo () {
    return { title: 'Pendaftaran Berhasil' }
  },

  data: () => ({
    data: JSON.parse(localStorage.getItem('registrationData'))
  })
}
</script>
