<template>
  <div class="flex w-screen h-screen">
    <div class="m-auto flex flex-col max-w-screen">
      <div class="p-8 mx-auto text-center">
        <h1 class="text-4xl font-bold text-gray-800 mb-1 tracking-tight">
          Form Pendaftaran Siswa Baru <br> Alexandria School
        </h1>
      </div>
      <div class="px-3 w-screen sm:w-128 max-w-screen">
        <div class="bg-white rounded shadow py-10 lg:py-12 px-6 sm:px-8 md:px-10 lg:px-12">
          <form @submit.prevent="register">
            <form-wizard title=""
                         subtitle=""
                         nextButtonText="Lanjutkan"
                         backButtonText="Kembali"
                         finishButtonText="Selesai"
                         color="#3498db" @on-complete="onComplete">
              <!-- Identitas -->
              <tab-content title="Identitas" icon="ti-user" :before-change="validationStep1">
                <div class="mb-6 grid grid-cols-8 gap-6">
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="student_category_id">Kategori</label>
                    <t-select id="student_category_id" v-model="form.student_category_id" :class="{ 'invalid': form.errors.has('student_category_id') }"
                              class="mt-2"
                              placeholder="Pilih Kategori"
                              name="student_category_id"
                              :options="categories"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="student_category_id" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="grade_id">Tingkat</label>
                    <t-select id="grade_id" v-model="form.grade_id" :class="{ 'invalid': form.errors.has('grade_id') }"
                              class="mt-2"
                              placeholder="Pilih Tingkat"
                              name="grade_id"
                              :options="grades"
                              v-on:change="filterGradeClasses(form.grade_id)"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="grade_id" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="grade_class_id">Kelas</label>
                    <t-select id="grade_class_id" v-model="form.grade_class_id" :class="{ 'invalid': form.errors.has('grade_class_id') }"
                              class="mt-2"
                              placeholder="Pilih Kelas"
                              name="grade_class_id"
                              :options="gradeClasses"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="grade_class_id" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="school_period_id">Periode</label>
                    <t-select id="school_period_id" v-model="form.school_period_id" :class="{ 'invalid': form.errors.has('school_period_id') }"
                              class="mt-2"
                              placeholder="Pilih Periode"
                              name="school_period_id"
                              :options="periods"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="school_period_id" />
                  </div>
                </div>

                <div class="mb-6 grid grid-cols-8 gap-6">
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="student_type_id">Tipe</label>
                    <t-select id="student_type_id" v-model="form.student_type_id" :class="{ 'invalid': form.errors.has('student_type_id') }"
                              class="mt-2"
                              placeholder="Pilih Tipe"
                              name="student_type_id"
                              :options="types"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="student_type_id" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="marketer_id">Marketing</label>
                    <t-select id="marketer_id" v-model="form.marketer_id" :class="{ 'invalid': form.errors.has('marketer_id') }"
                              class="mt-2"
                              placeholder="Pilih Marketing (Jika Ada)"
                              name="marketer_id"
                              :options="marketers"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="marketer_id" />
                  </div>
                </div>

                <div class="mb-6 grid grid-cols-8 gap-6">
                  <div class="col-span-8 sm:col-span-4">
                    <label class="font-bold text-gray-700 select-none" for="name">NISN</label>
                    <t-input id="nisn" v-model="form.nisn" :class="{ 'invalid': form.errors.has('nisn') }"
                      class="mt-2" name="nisn" maxlength="20"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="nisn" />
                  </div>
                  <div class="col-span-8 sm:col-span-4">
                    <label class="font-bold text-gray-700 select-none" for="email">Email address</label>
                    <t-input id="email" v-model="form.email" :class="{ 'invalid': form.errors.has('email') }"
                      class="mt-2" name="email" type="email"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="email" />
                  </div>
                  <div class="col-span-8 sm:col-span-4">
                    <label class="font-bold text-gray-700 select-none" for="name">Nama Lengkap</label>
                    <t-input id="full_name" v-model="form.full_name" :class="{ 'invalid': form.errors.has('full_name') }"
                           class="mt-2" name="full_name"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="full_name" />
                  </div>
                  <div class="col-span-8 sm:col-span-4">
                    <label class="font-bold text-gray-700 select-none" for="name">Nama Panggilan</label>
                    <t-input id="name" v-model="form.name" :class="{ 'invalid': form.errors.has('name') }"
                           class="mt-2" name="name"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="name" />
                  </div>
                  <div class="col-span-8 sm:col-span-3">
                    <label class="font-bold text-gray-700 select-none" for="place_of_birth">Tempat Lahir</label>
                    <t-input id="place_of_birth" v-model="form.place_of_birth" :class="{ 'invalid': form.errors.has('place_of_birth') }"
                           class="mt-2" name="place_of_birth"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="place_of_birth" />
                  </div>
                  <div class="col-span-8 sm:col-span-3">
                    <label class="font-bold text-gray-700 select-none" for="date_of_birth">Tanggal Lahir</label>
                    <t-datepicker id="date_of_birth" v-model="form.date_of_birth" :class="{ 'invalid': form.errors.has('date_of_birth') }"
                                  class="mt-2" name="date_of_birth"
                                  user-format="Y-m-d"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="date_of_birth" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="gender">Jenis Kelamin</label>
                    <div class="flex">
                      <label class="flex items-center">
                        <t-radio class="mt-2" name="gender" v-model="form.gender" value="L" />
                        <span class="ml-2 mt-2 text-sm">Laki-Laki</span>
                      </label>
                      <label class="flex items-center ml-2">
                        <t-radio class="mt-2" name="gender" v-model="form.gender" value="P" />
                        <span class="ml-2 mt-2 text-sm">Perempuan</span>
                      </label>
                    </div>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="gender" />
                  </div>
                  <div class="col-span-8 sm:col-span-4">
                    <label class="font-bold text-gray-700 select-none" for="goal">Cita-Cita</label>
                    <t-input id="goal" v-model="form.goal" :class="{ 'invalid': form.errors.has('goal') }"
                           class="mt-2" name="goal"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="goal" />
                  </div>
                  <div class="col-span-8 sm:col-span-4">
                    <label class="font-bold text-gray-700 select-none" for="hobby">Hobi</label>
                    <t-input id="hobby" v-model="form.hobby" :class="{ 'invalid': form.errors.has('hobby') }"
                           class="mt-2" name="hobby"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="hobby" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="nik">NIK</label>
                    <t-input id="nik" v-model="form.nik" :class="{ 'invalid': form.errors.has('nik') }"
                           class="mt-2" name="nik" maxlength="16"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="nik" />
                  </div>
                  <div class="col-span-4 sm:col-span-2 lg:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="order_in_family">Anak ke</label>
                    <t-input id="order_in_family" type="number" v-model="form.order_in_family" :class="{ 'invalid': form.errors.has('order_in_family') }"
                           class="mt-2" name="order_in_family"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="order_in_family" />
                  </div>
                  <div class="col-span-4 sm:col-span-2 lg:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="numbers_of_siblings">Jumlah Saudara</label>
                    <t-input id="numbers_of_siblings" type="number" v-model="form.numbers_of_siblings" :class="{ 'invalid': form.errors.has('numbers_of_siblings') }"
                           class="mt-2" name="numbers_of_siblings"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="numbers_of_siblings" />
                  </div>
                  <div class="col-span-4 sm:col-span-2 lg:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="numbers_of_step_families">Jumlah Saudara Tiri</label>
                    <t-input id="numbers_of_step_families" type="number" v-model="form.numbers_of_step_families" :class="{ 'invalid': form.errors.has('numbers_of_step_families') }"
                           class="mt-2" name="numbers_of_step_families"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="numbers_of_step_families" />
                  </div>
                  <div class="col-span-4 sm:col-span-2 lg:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="numbers_of_adopted_families">Jumlah Saudara Angkat</label>
                    <t-input id="numbers_of_adopted_families" type="number" v-model="form.numbers_of_adopted_families" :class="{ 'invalid': form.errors.has('numbers_of_adopted_families') }"
                           class="mt-2" name="numbers_of_adopted_families"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="numbers_of_adopted_families" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="weight">Berat (KG)</label>
                    <t-input id="weight" type="number" v-model="form.weight" :class="{ 'invalid': form.errors.has('weight') }"
                           class="mt-2" name="weight"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="weight" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="height">Tinggi (CM)</label>
                    <t-input id="height" type="number" v-model="form.height" :class="{ 'invalid': form.errors.has('height') }"
                           class="mt-2" name="height"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="height" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="blood_type">Golongan Darah</label>
                    <t-input id="blood_type" v-model="form.blood_type" :class="{ 'invalid': form.errors.has('blood_type') }"
                           class="mt-2" name="blood_type"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="blood_type" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="mother_language">Bahasa Sehari-hari</label>
                    <t-input id="mother_language" v-model="form.mother_language" :class="{ 'invalid': form.errors.has('mother_language') }"
                           class="mt-2" name="mother_language"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="mother_language" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="country_id">Kebangsaan</label>
                    <t-select id="country_id" v-model="form.country_id" :class="{ 'invalid': form.errors.has('country_id') }"
                              class="mt-2"
                              placeholder="Pilih Kebangsaan"
                              name="country_id"
                              :options="countries"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="country_id" />
                  </div>
                </div>
              </tab-content>
              <!-- Alamat -->
              <tab-content title="Alamat" icon="ti-home" :before-change="validationStep2">
                <div class="mb-6 grid grid-cols-8 gap-6">
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="address">Alamat</label>
                    <t-input id="address" v-model="form.address.address" :class="{ 'invalid': form.errors.has('address.address') }"
                           class="mt-2" name="address"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="address.address" />
                  </div>
                  <div class="col-span-8 sm:col-span-4">
                    <label class="font-bold text-gray-700 select-none" for="phone">Telp</label>
                    <t-input id="phone" v-model="form.address.phone" :class="{ 'invalid': form.errors.has('address.phone') }"
                           class="mt-2" name="phone"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="address.phone" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="live_with">Tinggal Dengan</label>
                    <t-input id="live_with" v-model="form.address.live_with" :class="{ 'invalid': form.errors.has('address.live_with') }"
                           class="mt-2" name="live_with"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="address.live_with" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="province_id">Provinsi</label>
                    <t-select id="province_id" v-model="form.address.province_id" :class="{ 'invalid': form.errors.has('address.province_id') }"
                              class="mt-2"
                              placeholder="Pilih Provinsi"
                              name="province_id"
                              :options="provinces"
                              v-on:change="filterCity(form.address.province_id)"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="address.province_id" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="city_id">Kota/Kabupaten</label>
                    <t-select id="city_id" v-model="form.address.city_id" :class="{ 'invalid': form.errors.has('address.city_id') }"
                              class="mt-2"
                              placeholder="Pilih Kota/Kabupaten"
                              name="city_id"
                              :options="cities"
                              v-on:change="filterDistrict(form.address.city_id)"
                              :disabled="form.address.province_id === ''"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="address.city_id" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="district_id">Kecamatan</label>
                    <t-select id="district_id" v-model="form.address.district_id" :class="{ 'invalid': form.errors.has('address.district_id') }"
                              class="mt-2"
                              placeholder="Pilih Kecamatan"
                              name="district_id"
                              :options="districts"
                              v-on:change="filterVillage(form.address.district_id)"
                              :disabled="form.address.city_id === ''"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="address.district_id" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="village_id">Kelurahan/Desa</label>
                    <t-select id="village_id" v-model="form.address.village_id" :class="{ 'invalid': form.errors.has('address.village_id') }"
                              class="mt-2"
                              placeholder="Pilih Kelurahan/Desa"
                              name="village_id"
                              :options="villages"
                              :disabled="form.address.district_id === ''"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="address.village_id" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="postal_code">Kode Pos</label>
                    <t-input id="postal_code" v-model="form.address.postal_code" :class="{ 'invalid': form.errors.has('address.postal_code') }"
                           class="mt-2" name="postal_code" maxlength="5"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="address.postal_code" />
                  </div>
                </div>
              </tab-content>
              <!-- Orang Tua -->
              <tab-content title="Orang Tua" icon="ti-heart" :before-change="validationStep3">
                <div v-for="(parent, index) in form.parents" v-bind:key="index">
                  <div class="mb-6 grid grid-cols-8 gap-6">
                    <div class="col-12" v-if="parent.type == 'Wali'">
                      <label class="font-bold text-gray-700 select-none" for="copyFrom">Salin Dari Ayah / Ibu</label>
                      <div class="flex">
                        <label class="flex items-center">
                          <t-radio class="mt-2" v-model="copyFrom" v-on:change="actionCopyFrom('Ayah')" value="Ayah" />
                          <span class="ml-2 mt-2 text-sm">Ayah</span>
                        </label>
                        <label class="flex items-center ml-2">
                          <t-radio class="mt-2" v-model="copyFrom" v-on:change="actionCopyFrom('Ibu')" value="Ibu" />
                          <span class="ml-2 mt-2 text-sm">Ibu</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="mb-6 grid grid-cols-8 gap-6">
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="name">Nama {{ parent.type }}</label>
                      <t-input id="name"
                              class="mt-2"
                              type="text"
                              v-model="form.parents[index].name"
                              :name="`parents.${index}.name`"
                              :class="{ 'is-invalid': form.errors.has(`parents.${index}.name`) }" />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.name`" />
                    </div>
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="religion">Agama {{ parent.type }}</label>
                      <t-input id="religion"
                              class="mt-2"
                              type="text"
                              v-model="form.parents[index].religion"
                              :name="`parents.${index}.religion`"
                              :class="{ 'is-invalid': form.errors.has(`parents.${index}.religion`) }" />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.religion`" />
                    </div>
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="place_of_birth">Tempat Lahir {{ parent.type }}</label>
                      <t-input id="place_of_birth"
                              class="mt-2"
                              type="text"
                              v-model="form.parents[index].place_of_birth"
                              :name="`parents.${index}.place_of_birth`"
                              :class="{ 'is-invalid': form.errors.has(`parents.${index}.place_of_birth`) }" />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.place_of_birth`" />
                    </div>
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="date_of_birth">Tanggal Lahir {{ parent.type }}</label>
                      <t-datepicker id="date_of_birth"
                                    v-model="form.parents[index].date_of_birth"
                                    :name="`parents.${index}.date_of_birth`"
                                    :class="{ 'is-invalid': form.errors.has(`parents.${index}.date_of_birth`) }"
                                    class="mt-2"
                                    user-format="Y-m-d"
                      />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.date_of_birth`" />
                    </div>
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="profession">Pekerjaan {{ parent.type }}</label>
                      <t-input id="profession"
                              class="mt-2"
                              type="text"
                              v-model="form.parents[index].profession"
                              :name="`parents.${index}.profession`"
                              :class="{ 'is-invalid': form.errors.has(`parents.${index}.profession`) }" />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.profession`" />
                    </div>
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="last_education">Pendidikan Terakhir {{ parent.type }}</label>
                      <t-input id="last_education"
                              class="mt-2"
                              type="text"
                              v-model="form.parents[index].last_education"
                              :name="`parents.${index}.last_education`"
                              :class="{ 'is-invalid': form.errors.has(`parents.${index}.last_education`) }" />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.last_education`" />
                    </div>
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="mobile">No. Telp {{ parent.type }}</label>
                      <t-input id="mobile"
                              class="mt-2"
                              type="text"
                              v-model="form.parents[index].mobile"
                              :name="`parents.${index}.mobile`"
                              :class="{ 'is-invalid': form.errors.has(`parents.${index}.mobile`) }" />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.mobile`" />
                    </div>
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="email">Email {{ parent.type }}</label>
                      <t-input id="email"
                              class="mt-2"
                              type="email"
                              v-model="form.parents[index].email"
                              :name="`parents.${index}.email`"
                              :class="{ 'is-invalid': form.errors.has(`parents.${index}.email`) }" />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.email`" />
                    </div>
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="company">Perusahaan Tempat Bekerja {{ parent.type }}</label>
                      <t-input id="company"
                              class="mt-2"
                              type="text"
                              v-model="form.parents[index].company"
                              :name="`parents.${index}.company`"
                              :class="{ 'is-invalid': form.errors.has(`parents.${index}.company`) }" />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.company`" />
                    </div>
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="office_address">Alamat Templat Kerja {{ parent.type }}</label>
                      <t-input id="office_address"
                              class="mt-2"
                              type="text"
                              v-model="form.parents[index].office_address"
                              :name="`parents.${index}.office_address`"
                              :class="{ 'is-invalid': form.errors.has(`parents.${index}.office_address`) }" />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.office_address`" />
                    </div>
                    <div class="col-span-8 sm:col-span-4">
                      <label class="font-bold text-gray-700 select-none" for="income">Penghasilan {{ parent.type }}</label>
                      <t-input id="income"
                              class="mt-2"
                              type="number"
                              v-model="form.parents[index].income"
                              :name="`parents.${index}.income`"
                              :class="{ 'is-invalid': form.errors.has(`parents.${index}.income`) }" />
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.income`" />
                    </div>
                    <div class="col-span-8">
                      <label class="font-bold text-gray-700 select-none" for="country_id">Kebangsaan</label>
                      <t-select id="country_id"
                                class="mt-2"
                                placeholder="Pilih Kebangsaan"
                                :options="countries"
                                v-model="form.parents[index].country_id"
                                :name="`parents.${index}.country_id`"
                                :class="{ 'is-invalid': form.errors.has(`parents.${index}.country_id`) }" />
                      </t-select>
                      <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" :field="`parents.${index}.country_id`" />
                    </div>
                    <div class="hidden sm:block" aria-hidden="true">
                      <div class="py-5">
                        <div class="border-t border-gray-200"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab-content>
              <!-- Kesehatan -->
              <tab-content title="Kesehatan" icon="ti-support">
                <div class="mb-6 grid grid-cols-8 gap-6">
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="tbc">TBC (Jika Pernah, dan Kapan)</label>
                    <t-input id="tbc" v-model="form.health.tbc" :class="{ 'invalid': form.errors.has('health.tbc') }"
                           class="mt-2" name="tbc"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="health.tbc" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="malaria">Malaria (Jika Pernah, dan Kapan)</label>
                    <t-input id="malaria" v-model="form.health.malaria" :class="{ 'invalid': form.errors.has('health.malaria') }"
                           class="mt-2" name="malaria"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="health.malaria" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="chotipa">Chotipa (Jika Pernah, dan Kapan)</label>
                    <t-input id="chotipa" v-model="form.health.chotipa" :class="{ 'invalid': form.errors.has('health.chotipa') }"
                           class="mt-2" name="chotipa"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="health.chotipa" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="cacar">Cacar (Jika Pernah, dan Kapan)</label>
                    <t-input id="cacar" v-model="form.health.cacar" :class="{ 'invalid': form.errors.has('health.cacar') }"
                           class="mt-2" name="cacar"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="health.cacar" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="others">Lain-lain (Jika Pernah, dan Kapan)</label>
                    <t-input id="others" v-model="form.health.others" :class="{ 'invalid': form.errors.has('health.others') }"
                           class="mt-2" name="others"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="health.others" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="physical_abnormalities">Kelainan Jasmani / Lainnya</label>
                    <t-input id="physical_abnormalities" v-model="form.health.physical_abnormalities" :class="{ 'invalid': form.errors.has('health.physical_abnormalities') }"
                           class="mt-2" name="physical_abnormalities"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="health.physical_abnormalities" />
                  </div>
                </div>
              </tab-content>
              <!-- Sekolah Asal -->
              <tab-content title="Sekolah Asal" icon="ti-info" :before-change="validationStep5">
                <div class="mb-6 grid grid-cols-8 gap-6">
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="school_origin">Sekolah Asal</label>
                    <t-input id="school_origin" v-model="form.previous_education.school_origin" :class="{ 'invalid': form.errors.has('previous_education.school_origin') }"
                           class="mt-2" name="school_origin"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.school_origin" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="school_address">Alamat Sekolah</label>
                    <t-input id="school_address" v-model="form.previous_education.school_address" :class="{ 'invalid': form.errors.has('previous_education.school_address') }"
                           class="mt-2" name="school_address"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.school_address" />
                  </div>
                  <div class="col-span-8 sm:col-span-4">
                    <label class="font-bold text-gray-700 select-none" for="phone">Telp</label>
                    <t-input id="phone" v-model="form.previous_education.phone" :class="{ 'invalid': form.errors.has('previous_education.phone') }"
                           class="mt-2" name="phone"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.phone" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="head_master_name">Nama Kepala Sekolah</label>
                    <t-input id="head_master_name" v-model="form.previous_education.head_master_name" :class="{ 'invalid': form.errors.has('previous_education.head_master_name') }"
                           class="mt-2" name="head_master_name"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.head_master_name" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="nisn">NISN</label>
                    <t-input id="nisn" v-model="form.previous_education.nisn" :class="{ 'invalid': form.errors.has('previous_education.nisn') }"
                           class="mt-2" name="nisn"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.nisn" />
                  </div>
                  <div class="col-span-8 sm:col-span-4">
                    <label class="font-bold text-gray-700 select-none">Status Sekolah</label>
                    <div class="flex">
                      <label class="flex items-center">
                        <t-radio class="mt-2" name="school_status" v-model="form.previous_education.school_status" value="Negeri" />
                        <span class="ml-2 mt-2 text-sm">Negeri</span>
                      </label>
                      <label class="flex items-center ml-2">
                        <t-radio class="mt-2" name="school_status" v-model="form.previous_education.school_status" value="Swasta" />
                        <span class="ml-2 mt-2 text-sm">Swasta</span>
                      </label>
                    </div>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.school_status" />
                  </div>
                  <div class="col-span-8 sm:col-span-4">
                    <label class="font-bold text-gray-700 select-none">Sistem Pendidikan</label>
                    <div class="flex">
                      <label class="flex items-center">
                        <t-radio class="mt-2" name="education_system" v-model="form.previous_education.education_system" value="Pesantren" />
                        <span class="ml-2 mt-2 text-sm">Pesantren</span>
                      </label>
                      <label class="flex items-center ml-2">
                        <t-radio class="mt-2" name="education_system" v-model="form.previous_education.education_system" value="Non-Pesantren" />
                        <span class="ml-2 mt-2 text-sm">Non-Pesantren</span>
                      </label>
                    </div>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.education_system" />
                  </div>
                  <div class="col-span-8">
                    <label class="font-bold text-gray-700 select-none" for="period">Lama Sekolah</label>
                    <t-input id="period" v-model="form.previous_education.period" :class="{ 'invalid': form.errors.has('previous_education.period') }"
                           class="mt-2" name="period"
                    />
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.period" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="province_id">Provinsi</label>
                    <t-select id="province_id" v-model="form.previous_education.province_id" :class="{ 'invalid': form.errors.has('previous_education.province_id') }"
                              class="mt-2"
                              placeholder="Pilih Provinsi"
                              name="province_id"
                              :options="provinces"
                              v-on:change="filterCity(form.previous_education.province_id)"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.province_id" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="city_id">Kota/Kabupaten</label>
                    <t-select id="city_id" v-model="form.previous_education.city_id" :class="{ 'invalid': form.errors.has('previous_education.city_id') }"
                              class="mt-2"
                              placeholder="Pilih Kota/Kabupaten"
                              name="city_id"
                              :options="cities"
                              v-on:change="filterDistrict(form.previous_education.city_id)"
                              :disabled="form.previous_education.province_id === ''"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.city_id" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="district_id">Kecamatan</label>
                    <t-select id="district_id" v-model="form.previous_education.district_id" :class="{ 'invalid': form.errors.has('previous_education.district_id') }"
                              class="mt-2"
                              placeholder="Pilih Kecamatan"
                              name="district_id"
                              :options="districts"
                              v-on:change="filterVillage(form.previous_education.district_id)"
                              :disabled="form.previous_education.city_id === ''"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.district_id" />
                  </div>
                  <div class="col-span-8 sm:col-span-2">
                    <label class="font-bold text-gray-700 select-none" for="village_id">Kelurahan/Desa</label>
                    <t-select id="village_id" v-model="form.previous_education.village_id" :class="{ 'invalid': form.errors.has('previous_education.village_id') }"
                              class="mt-2"
                              placeholder="Pilih Kelurahan/Desa"
                              name="village_id"
                              :options="villages"
                              :disabled="form.previous_education.district_id === ''"
                    ></t-select>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="previous_education.village_id" />
                  </div>
                </div>

                <div class="flex mb-8">
                  <div class="cursor-pointer mr-4">
                    <label class="flex items-center cursor-pointer">
                      <t-checkbox v-model="form.terms" type="checkbox" class="form-checkbox text-teal-500 cursor-pointer" />
                      <span class="ml-2 font-medium text-gray-700 select-none cursor-pointer">
                        I agree to the <router-link target="_blank" class="blue text-teal-500 hover:text-teal-600" :to="{name: 'terms'}">Terms & Conditions</router-link>
                      </span>
                    </label>
                    <has-error class="text-sm text-red-500 font-semibold mt-2" :form="form" field="terms" />
                  </div>
                </div>
                <div class="mb-6 grid grid-cols-8 gap-6">
<!--                  <loading-progress-->
<!--                    indeterminate="indeterminate"-->
<!--                    size="10"-->
<!--                    rotate-->
<!--                    fillDuration="2"-->
<!--                    rotationDuration="1"-->
<!--                    v-if="form.busy"-->
<!--                  />-->
<!--                  <t-button class="w-full" :disabled="form.busy">-->
<!--                    {{ $t('register') }}-->
<!--                  </t-button>-->
                </div>
              </tab-content>
            </form-wizard>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import Form from 'vform'
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'

export default {
  middleware: 'guest',
  layout: 'basic',

  metaInfo () {
    return { title: this.$t('register') }
  },

  computed: {
    ...mapState('general', ['facilities', 'categories', 'types', 'periods', 'grades', 'gradeClasses', 'marketers']),
    ...mapState('location', ['countries', 'provinces', 'cities', 'districts', 'villages'])
  },

  components: {
    FormWizard,
    TabContent
  },

  data: () => ({
    copyFrom: '',
    form: new Form({
      email: '',
      nisn: '',
      full_name: '',
      name: '',
      gender: '',
      place_of_birth: '',
      date_of_birth: '',
      goal: '',
      hobby: '',
      nik: '',
      order_in_family: '',
      numbers_of_siblings: '',
      numbers_of_step_families: '',
      numbers_of_adopted_families: '',
      weight: '',
      height: '',
      blood_type: '',
      mother_language: '',
      country_id: '',
      student_category_id: '',
      student_type_id: '',
      school_period_id: '',
      grade_id: '',
      grade_class_id: '',
      marketer_id: '',
      address: {
        address: '',
        postal_code: '',
        phone: '',
        email: '',
        live_with: '',
        province_id: '',
        city_id: '',
        district_id: '',
        village_id: '',
      },
      parents: {
        father: {
          type: 'Ayah',
          name: '',
          place_of_birth: '',
          date_of_birth: '',
          profession: '',
          last_education: '',
          religion: '',
          mobile: '',
          email: '',
          company: '',
          office_address: '',
          income: '',
          country_id: '',
        },
        mother: {
          type: 'Ibu',
          name: '',
          place_of_birth: '',
          date_of_birth: '',
          profession: '',
          last_education: '',
          religion: '',
          mobile: '',
          email: '',
          company: '',
          office_address: '',
          income: '',
          country_id: '',
        },
        wali: {
          type: 'Wali',
          name: '',
          place_of_birth: '',
          date_of_birth: '',
          profession: '',
          last_education: '',
          religion: '',
          mobile: '',
          email: '',
          company: '',
          office_address: '',
          income: '',
          country_id: '',
        }
      },
      health: {
        tbc: '',
        malaria: '',
        chotipa: '',
        cacar: '',
        others: '',
        physical_abnormalities: '',
      },
      previous_education: {
        school_origin: '',
        school_address: '',
        phone: '',
        head_master_name: '',
        nisn: '',
        school_status: '',
        education_system: '',
        period: '',
        province_id: '',
        city_id: '',
        district_id: '',
        village_id: '',
      },
      terms: false
    })
  }),

  beforeMount() {
    this.fetchFacilities()

    this.fetchCategories()

    this.fetchTypes()

    this.fetchPeriods()

    this.fetchGrades()

    this.fetchMarketers()

    this.fetchCountries()

    this.fetchProvinces()

    if (localStorage.form) {
      this.form = JSON.parse(localStorage.getItem('form'))
    }
  },

  methods: {
    async register () {
      // Register the user.
      const { data } = await this.form.post('/api/v1/registration')

      localStorage.setItem('registrationData', JSON.stringify(data))

      this.form.busy = false

      // Redirect register success.
      this.$router.push({ name: 'register.success' })
    },

    async validationStep1() {
      const { data } = await this.form.post('/api/v1/pre-registration-1')

      return true
    },

    async validationStep2() {
      const { data } = await this.form.post('/api/v1/pre-registration-2')

      return true
    },

    async validationStep3() {
      const { data } = await this.form.post('/api/v1/pre-registration-3')

      return true
    },

    async validationStep5() {
      const { data } = await this.form.post('/api/v1/pre-registration-5')

      return true
    },

    actionCopyFrom(type) {
      if (type === 'Ayah') {
        this.form.parents.wali.name = this.form.parents.father.name
        this.form.parents.wali.place_of_birth = this.form.parents.father.place_of_birth
        this.form.parents.wali.date_of_birth = this.form.parents.father.date_of_birth
        this.form.parents.wali.profession = this.form.parents.father.profession
        this.form.parents.wali.last_education = this.form.parents.father.last_education
        this.form.parents.wali.religion = this.form.parents.father.religion
        this.form.parents.wali.mobile = this.form.parents.father.mobile
        this.form.parents.wali.email = this.form.parents.father.email
        this.form.parents.wali.company = this.form.parents.father.company
        this.form.parents.wali.office_address = this.form.parents.father.office_address
        this.form.parents.wali.income = this.form.parents.father.income
        this.form.parents.wali.country_id = this.form.parents.father.country_id
      } else if (type === 'Ibu') {
        this.form.parents.wali.name = this.form.parents.mother.name
        this.form.parents.wali.place_of_birth = this.form.parents.mother.place_of_birth
        this.form.parents.wali.date_of_birth = this.form.parents.mother.date_of_birth
        this.form.parents.wali.profession = this.form.parents.mother.profession
        this.form.parents.wali.last_education = this.form.parents.mother.last_education
        this.form.parents.wali.religion = this.form.parents.mother.religion
        this.form.parents.wali.mobile = this.form.parents.mother.mobile
        this.form.parents.wali.email = this.form.parents.mother.email
        this.form.parents.wali.company = this.form.parents.mother.company
        this.form.parents.wali.office_address = this.form.parents.mother.office_address
        this.form.parents.wali.income = this.form.parents.mother.income
        this.form.parents.wali.country_id = this.form.parents.mother.country_id
      }
    },

    filterGradeClasses(id) {
      this.fetchGradeClasses(id)
    },

    filterCity(provinceId) {
      this.fetchCities(provinceId)
    },

    filterDistrict(cityId) {
      this.fetchDistricts(cityId)
    },

    filterVillage(districtId) {
      this.fetchVillages(districtId)
    },

    onComplete: function() {
      if (!this.form.busy) {
        this.form.busy = true
        this.register()
      }
    },

    nextTab: function() {
      // console.log(this.form)
      // localStorage.setItem('form', JSON.stringify(this.form))

      return true
    },

    ...mapActions('general', [
      'fetchFacilities', 'fetchCategories', 'fetchTypes', 'fetchPeriods', 'fetchGrades', 'fetchGradeClasses', 'fetchMarketers'
    ]),

    ...mapActions('location', [
      'fetchCountries', 'fetchProvinces', 'fetchCities', 'fetchDistricts', 'fetchVillages'
    ])
  }
}
</script>
